body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1106px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u6906 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u6907 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:2px;
}
#u6908 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:19px;
  width:502px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6909 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:498px;
  visibility:hidden;
  word-wrap:break-word;
}
.u6911_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:right;
}
.u6911 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:45px;
  color:#CCCCCC;
  text-align:right;
}
.u6912 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:115px;
  word-wrap:break-word;
}
.u6913_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u6913 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:0px;
  width:288px;
  height:45px;
}
.u6913_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:45px;
  background:inherit;
  background-color:rgba(231, 243, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u6913.mouseOver {
}
.u6914 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:284px;
  word-wrap:break-word;
}
#u6910-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:45px;
}
#u6910-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:425px;
  height:45px;
}
#u6910-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:425px;
  height:45px;
}
#u6910-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:135px;
  width:425px;
  height:45px;
}
#u6910-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:425px;
  height:45px;
}
#u6910-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:225px;
  width:425px;
  height:45px;
}
#u6910-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:270px;
  width:425px;
  height:45px;
}
#u6910-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:315px;
  width:425px;
  height:45px;
}
#u6910 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:38px;
  width:425px;
  height:360px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u6915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6915 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:35px;
  width:25px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFA726;
}
#u6916 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u6917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6917 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:0px;
  width:424px;
  height:144px;
  text-align:left;
}
#u6918 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:412px;
  word-wrap:break-word;
}
#u6919 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:48px;
  width:0px;
  height:0px;
}
#u6919_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:389px;
  height:8px;
}
#u6919_seg1 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:-4px;
  width:8px;
  height:32px;
}
#u6919_seg2 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:20px;
  width:79px;
  height:8px;
}
#u6919_seg3 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:15px;
  width:19px;
  height:18px;
}
#u6920 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
