body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:534px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7744_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u7744 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:38px;
  color:#CCCCCC;
}
#u7745 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:13px;
}
#u7746 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:13px;
  width:17px;
  height:13px;
}
#u7747 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7748 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:42px;
  height:25px;
}
#u7748_input {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u7749_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u7749 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:108px;
  height:38px;
  color:#CCCCCC;
}
#u7750 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:13px;
}
#u7751 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:293px;
  width:17px;
  height:13px;
}
#u7752 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7753 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:287px;
  width:42px;
  height:25px;
}
#u7753_input {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u7754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7754 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:280px;
  width:313px;
  height:140px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7755 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:309px;
  word-wrap:break-word;
}
#u7756 {
  position:absolute;
  left:0px;
  top:38px;
}
#u7756_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:120px;
  height:160px;
  background-image:none;
}
#u7756_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7757_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:124px;
  height:164px;
}
#u7757 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:160px;
}
#u7758 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:74px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
.u7760 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:8px;
  width:14px;
  height:14px;
}
.u7761 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u7762 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u7762_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u7762.mouseOver {
}
.u7762_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u7762.selected {
}
.u7763 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:7px;
  width:85px;
  word-wrap:break-word;
}
#u7759-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u7759-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:118px;
  height:30px;
}
#u7759-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:118px;
  height:30px;
}
#u7759-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:118px;
  height:30px;
}
#u7759-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:118px;
  height:30px;
}
#u7759 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:8px;
  width:118px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u7764 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:7px;
  width:27px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7765 {
  position:absolute;
  left:0px;
  top:318px;
}
#u7765_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:120px;
  height:160px;
  background-image:none;
}
#u7765_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7766_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:124px;
  height:164px;
}
#u7766 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:160px;
}
#u7767 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:74px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
.u7769 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:8px;
  width:14px;
  height:14px;
}
.u7770 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u7771 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u7771_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u7771.mouseOver {
}
.u7771_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u7771.selected {
}
.u7772 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:7px;
  width:85px;
  word-wrap:break-word;
}
#u7768-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u7768-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:118px;
  height:30px;
}
#u7768-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:118px;
  height:30px;
}
#u7768-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:118px;
  height:30px;
}
#u7768-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:118px;
  height:30px;
}
#u7768 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:8px;
  width:118px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
