body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:747px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  text-align:left;
}
#u6642 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:93px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  text-align:left;
}
#u6643 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:413px;
  word-wrap:break-word;
}
#u6644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  text-align:left;
}
#u6644 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:110px;
  width:425px;
  height:86px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  text-align:left;
}
#u6645 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:413px;
  word-wrap:break-word;
}
#u6646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  text-align:left;
}
#u6646 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:217px;
  width:425px;
  height:87px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  text-align:left;
}
#u6647 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:413px;
  word-wrap:break-word;
}
#u6648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:747px;
  height:217px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  text-align:left;
}
#u6648 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:327px;
  width:747px;
  height:217px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  text-align:left;
}
#u6649 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:735px;
  word-wrap:break-word;
}
