body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:674px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:147px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u13145 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:0px;
  width:458px;
  height:147px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u13146 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:446px;
  word-wrap:break-word;
}
#u13147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
}
#u13147_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(219, 237, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13147.mouseOver {
}
#u13148 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u13149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:13px;
}
#u13149 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:6px;
  width:17px;
  height:13px;
}
#u13150 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13151 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:100px;
  height:25px;
  overflow:hidden;
}
#u13151_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13151_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:1px 1px 2px rgba(204, 204, 204, 1);
  -webkit-box-shadow:1px 1px 2px rgba(204, 204, 204, 1);
  box-shadow:1px 1px 2px rgba(204, 204, 204, 1);
}
#u13152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
}
#u13153 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13154 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:3px;
  width:88px;
  height:20px;
}
#u13154_input {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
