.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.heading_1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.flow_shape {
}
.shape {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.image {
  color:#000000;
}
.placeholder {
}
.primary_button {
  color:#FFFFFF;
}
.box_2 {
}
.ellipse {
}
.box_1 {
}
.icon {
}
._panel__panel-default__content_ {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  line-height:20px;
}
._panel__panel-default__header_ {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  line-height:20px;
}
._水平线 {
}
._文本段落 {
  font-size:14px;
  text-align:left;
  line-height:20px;
}
._btn-link {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#428BCA;
  text-align:center;
  line-height:20px;
}
._btn-link_hover {
  color:#2A6496;
  text-align:center;
  line-height:20px;
}
._dropdown_menuitem {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
._dropdown_menuitem_hover {
  color:#252525;
}
.line {
}
.label {
  font-size:14px;
  text-align:left;
}
._形状 {
}
._单选按钮 {
  font-size:14px;
  text-align:left;
}
._复选框 {
  font-size:14px;
  text-align:left;
}
.badge {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
.badge_active {
  color:#428BCA;
}
.blankwhite {
}
._图片 {
}
.popups {
}
.container {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.table_cell {
}
.nofillborder {
}
.horizontal_line {
}
.listitem {
}
.connector {
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
