body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:713px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u8219 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:38px;
  color:#CCCCCC;
}
#u8220 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:13px;
}
#u8221 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:13px;
  width:17px;
  height:13px;
}
#u8222 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8223 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:42px;
  height:25px;
}
#u8223_input {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u8224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u8224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:108px;
  height:38px;
  color:#CCCCCC;
}
#u8225 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:13px;
}
#u8226 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:293px;
  width:17px;
  height:13px;
}
#u8227 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8228 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:287px;
  width:42px;
  height:25px;
}
#u8228_input {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u8229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:508px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8229 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:280px;
  width:526px;
  height:508px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8230 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:522px;
  word-wrap:break-word;
}
#u8231 {
  position:absolute;
  left:0px;
  top:38px;
}
#u8231_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:120px;
  height:160px;
  background-image:none;
}
#u8231_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8232_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:124px;
  height:164px;
}
#u8232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:160px;
}
#u8233 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:74px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
.u8235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
.u8235 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:8px;
  width:14px;
  height:14px;
}
.u8236 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
.u8237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u8237 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u8237_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u8237.mouseOver {
}
.u8237_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u8237.selected {
}
.u8238 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:7px;
  width:85px;
  word-wrap:break-word;
}
#u8234-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u8234-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:118px;
  height:30px;
}
#u8234-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:118px;
  height:30px;
}
#u8234-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:118px;
  height:30px;
}
#u8234-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:118px;
  height:30px;
}
#u8234 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:8px;
  width:118px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u8239 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:7px;
  width:27px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8240 {
  position:absolute;
  left:0px;
  top:318px;
}
#u8240_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:120px;
  height:160px;
  background-image:none;
}
#u8240_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8241_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:124px;
  height:164px;
}
#u8241 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:160px;
}
#u8242 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:74px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
.u8244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
.u8244 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:8px;
  width:14px;
  height:14px;
}
.u8245 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
.u8246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u8246 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u8246_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u8246.mouseOver {
}
.u8246_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u8246.selected {
}
.u8247 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:7px;
  width:85px;
  word-wrap:break-word;
}
#u8243-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u8243-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:118px;
  height:30px;
}
#u8243-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:118px;
  height:30px;
}
#u8243-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:118px;
  height:30px;
}
#u8243-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:118px;
  height:30px;
}
#u8243 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:8px;
  width:118px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u8249 {
  position:absolute;
  left:210px;
  top:523px;
}
#u8249_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:480px;
  height:265px;
  background-image:none;
}
#u8249_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8250_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:490px;
  height:275px;
}
#u8250 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:265px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u8251 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:124px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8252 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8253 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8254_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:107px;
  height:31px;
}
#u8254 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:16px;
  width:97px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8255 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u8256 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8257 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8258_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:449px;
  height:66px;
}
#u8258 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:61px;
  width:439px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:28px;
}
#u8259 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  white-space:nowrap;
}
#u8260_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:459px;
  height:12px;
}
#u8260 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:47px;
  width:448px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u8261 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:444px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8262_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:110px;
  height:50px;
}
#u8262 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:203px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8262_img.mouseOver {
}
#u8262.mouseOver {
}
#u8262_img.mouseDown {
}
#u8262.mouseDown {
}
#u8263 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u8264_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:110px;
  height:50px;
}
#u8264 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:203px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u8264_img.mouseOver {
}
#u8264.mouseOver {
}
#u8264_img.mouseDown {
}
#u8264.mouseDown {
}
#u8265 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u8266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8266 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:127px;
  width:448px;
  height:66px;
}
#u8267 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:444px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8268 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:130px;
  width:438px;
  height:59px;
}
#u8268_input {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:59px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
