body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1924px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:878px;
  height:383px;
}
#u19697 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:878px;
  height:383px;
}
#u19698 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:184px;
  width:874px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19699_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:490px;
  height:286px;
}
#u19699 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:435px;
  width:480px;
  height:276px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19700 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19701 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19702 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19703_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:91px;
  height:31px;
}
#u19703 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:451px;
  width:81px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19704 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u19705 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19706 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19707_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:333px;
  height:28px;
}
#u19707 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:503px;
  width:323px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19708 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  white-space:nowrap;
}
#u19709 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:659px;
  width:100px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19710 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u19709_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19711_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:459px;
  height:12px;
}
#u19711 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:482px;
  width:448px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19712 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:444px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19713_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:110px;
  height:50px;
}
#u19713 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:649px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19713_img.mouseOver {
}
#u19713.mouseOver {
}
#u19713_img.mouseDown {
}
#u19713.mouseDown {
}
#u19714 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u19715_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:110px;
  height:50px;
}
#u19715 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:649px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19715_img.mouseOver {
}
#u19715.mouseOver {
}
#u19715_img.mouseDown {
}
#u19715.mouseDown {
}
#u19716 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u19717 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19718 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19719_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:95px;
  height:28px;
}
#u19719 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:544px;
  width:85px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19720 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u19721 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19722_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19722 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:536px;
  width:300px;
  height:35px;
}
#u19723 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19724 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:541px;
  width:254px;
  height:25px;
}
#u19724_input {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u19725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u19725 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:544px;
  width:20px;
  height:20px;
}
#u19726 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19727 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19728 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19729_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:413px;
  height:47px;
}
#u19729 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:590px;
  width:403px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19730 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  white-space:nowrap;
}
#u19731_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19731 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:895px;
  width:563px;
  height:170px;
}
#u19732 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:559px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19733_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:622px;
  height:388px;
}
#u19733 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:752px;
  width:612px;
  height:378px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19734 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:181px;
  width:608px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19735 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19736 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19737_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:107px;
  height:31px;
}
#u19737 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:768px;
  width:97px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19738 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u19739 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19740 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19741_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:578px;
  height:28px;
}
#u19741 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:820px;
  width:568px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19742 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  white-space:nowrap;
}
#u19743_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:579px;
  height:12px;
}
#u19743 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:799px;
  width:568px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19744 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:564px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19745_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:110px;
  height:50px;
}
#u19745 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:1068px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19745_img.mouseOver {
}
#u19745.mouseOver {
}
#u19745_img.mouseDown {
}
#u19745.mouseDown {
}
#u19746 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u19747_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:110px;
  height:50px;
}
#u19747 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:1068px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19747_img.mouseOver {
}
#u19747.mouseOver {
}
#u19747_img.mouseDown {
}
#u19747.mouseDown {
}
#u19748 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
.u19750_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:33px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
}
.u19750 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:0px;
  width:193px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
}
.u19751 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:193px;
  word-wrap:break-word;
}
.u19752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:2px;
}
.u19752 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:32px;
  width:490px;
  height:1px;
  color:#999999;
}
.u19753 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
.u19754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
.u19754 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:0px;
  width:123px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
.u19754_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:32px;
  background:inherit;
  background-color:rgba(226, 248, 243, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
.u19754.mouseOver {
}
.u19755 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
.u19756_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:33px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#0000FF;
  text-align:center;
}
.u19756 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:2px;
  width:143px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#0000FF;
  text-align:center;
}
.u19757 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:143px;
  word-wrap:break-word;
}
#u19749-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:35px;
}
#u19749-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:490px;
  height:35px;
}
#u19749 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:895px;
  width:490px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u19758 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19759_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:214px;
  height:28px;
}
#u19759 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:870px;
  width:204px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u19760 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  word-wrap:break-word;
}
#u19761_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:143px;
  height:28px;
}
#u19761 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:870px;
  width:133px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u19762 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u19763_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:143px;
  height:28px;
}
#u19763 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:870px;
  width:133px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u19764 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u19765_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:502px;
  height:342px;
}
#u19765 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:443px;
  width:492px;
  height:332px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19766 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:158px;
  width:488px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19767 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19768 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19769_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:75px;
  height:31px;
}
#u19769 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:459px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19770 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19771 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19772 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19773_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:291px;
  height:28px;
}
#u19773 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:511px;
  width:281px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19774 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u19775_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:459px;
  height:12px;
}
#u19775 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:490px;
  width:448px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19776 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:444px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19777_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:110px;
  height:50px;
}
#u19777 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:722px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19777_img.mouseOver {
}
#u19777.mouseOver {
}
#u19777_img.mouseDown {
}
#u19777.mouseDown {
}
#u19778 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u19779_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:110px;
  height:50px;
}
#u19779 {
  border-width:0px;
  position:absolute;
  left:1258px;
  top:722px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19779_img.mouseOver {
}
#u19779.mouseOver {
}
#u19779_img.mouseDown {
}
#u19779.mouseDown {
}
#u19780 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u19781 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19782 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19783_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:427px;
  height:28px;
}
#u19783 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:585px;
  width:417px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19784 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  white-space:nowrap;
}
#u19785 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19786 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19787_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:389px;
  height:28px;
}
#u19787 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:549px;
  width:379px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u19788 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  white-space:nowrap;
}
#u19789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:92px;
}
#u19789 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:613px;
  width:448px;
  height:92px;
  color:#CCCCCC;
}
#u19790 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:444px;
  word-wrap:break-word;
}
#u19791_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:502px;
  height:342px;
}
#u19791 {
  border-width:0px;
  position:absolute;
  left:1431px;
  top:443px;
  width:492px;
  height:332px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19792 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:158px;
  width:488px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19793 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19794 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19795_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:75px;
  height:31px;
}
#u19795 {
  border-width:0px;
  position:absolute;
  left:1446px;
  top:459px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19796 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19797_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:459px;
  height:12px;
}
#u19797 {
  border-width:0px;
  position:absolute;
  left:1446px;
  top:490px;
  width:448px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19798 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:444px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:110px;
}
#u19799 {
  border-width:0px;
  position:absolute;
  left:1621px;
  top:551px;
  width:115px;
  height:110px;
}
#u19800 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:47px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19801 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19802 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19803_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:137px;
  height:28px;
}
#u19803 {
  border-width:0px;
  position:absolute;
  left:1614px;
  top:671px;
  width:127px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19804 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u19805_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:502px;
  height:342px;
}
#u19805 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:793px;
  width:492px;
  height:332px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19806 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:158px;
  width:488px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19807 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19808 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19809_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:75px;
  height:31px;
}
#u19809 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:809px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19810 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19811_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:459px;
  height:12px;
}
#u19811 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:840px;
  width:448px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19812 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:444px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19813_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:110px;
  height:50px;
}
#u19813 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:1072px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19813_img.mouseOver {
}
#u19813.mouseOver {
}
#u19813_img.mouseDown {
}
#u19813.mouseDown {
}
#u19814 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u19815_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:110px;
  height:50px;
}
#u19815 {
  border-width:0px;
  position:absolute;
  left:1258px;
  top:1072px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19815_img.mouseOver {
}
#u19815.mouseOver {
}
#u19815_img.mouseDown {
}
#u19815.mouseDown {
}
#u19816 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u19817 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19818 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19819_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:137px;
  height:28px;
}
#u19819 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:994px;
  width:127px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u19821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:66px;
}
#u19821 {
  border-width:0px;
  position:absolute;
  left:1098px;
  top:908px;
  width:87px;
  height:66px;
}
#u19822 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19823_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:502px;
  height:342px;
}
#u19823 {
  border-width:0px;
  position:absolute;
  left:1432px;
  top:793px;
  width:492px;
  height:332px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19824 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:158px;
  width:488px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19825 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19826 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19827_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:75px;
  height:31px;
}
#u19827 {
  border-width:0px;
  position:absolute;
  left:1447px;
  top:809px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19828 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19829_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:459px;
  height:12px;
}
#u19829 {
  border-width:0px;
  position:absolute;
  left:1447px;
  top:840px;
  width:448px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19830 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:444px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19831_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:110px;
  height:50px;
}
#u19831 {
  border-width:0px;
  position:absolute;
  left:1677px;
  top:1072px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19831_img.mouseOver {
}
#u19831.mouseOver {
}
#u19831_img.mouseDown {
}
#u19831.mouseDown {
}
#u19832 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u19833_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:110px;
  height:50px;
}
#u19833 {
  border-width:0px;
  position:absolute;
  left:1795px;
  top:1072px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19833_img.mouseOver {
}
#u19833.mouseOver {
}
#u19833_img.mouseDown {
}
#u19833.mouseDown {
}
#u19834 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u19835 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19836 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19837_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:137px;
  height:28px;
}
#u19837 {
  border-width:0px;
  position:absolute;
  left:1615px;
  top:994px;
  width:127px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19838 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u19839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u19839 {
  border-width:0px;
  position:absolute;
  left:1636px;
  top:906px;
  width:71px;
  height:71px;
}
#u19840 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19841 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19842_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:123px;
  height:28px;
}
#u19842 {
  border-width:0px;
  position:absolute;
  left:1615px;
  top:1022px;
  width:113px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u19843 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
