body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:534px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u9771 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:38px;
  color:#CCCCCC;
}
#u9772 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:13px;
}
#u9773 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:13px;
  width:17px;
  height:13px;
}
#u9774 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9775 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:42px;
  height:25px;
}
#u9775_input {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u9776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u9776 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:108px;
  height:38px;
  color:#CCCCCC;
}
#u9777 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:13px;
}
#u9778 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:293px;
  width:17px;
  height:13px;
}
#u9779 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9780 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:287px;
  width:42px;
  height:25px;
}
#u9780_input {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u9781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:269px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9781 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:280px;
  width:313px;
  height:269px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9782 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:309px;
  word-wrap:break-word;
}
#u9783 {
  position:absolute;
  left:0px;
  top:38px;
}
#u9783_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:120px;
  height:160px;
  background-image:none;
}
#u9783_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9784_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:124px;
  height:164px;
}
#u9784 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:160px;
}
#u9785 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:74px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
.u9787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
.u9787 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:8px;
  width:14px;
  height:14px;
}
.u9788 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
.u9789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u9789 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u9789_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u9789.mouseOver {
}
.u9789_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u9789.selected {
}
.u9790 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:7px;
  width:85px;
  word-wrap:break-word;
}
#u9786-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u9786-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:118px;
  height:30px;
}
#u9786-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:118px;
  height:30px;
}
#u9786-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:118px;
  height:30px;
}
#u9786-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:118px;
  height:30px;
}
#u9786 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:8px;
  width:118px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u9791 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:7px;
  width:27px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9792 {
  position:absolute;
  left:0px;
  top:318px;
}
#u9792_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:120px;
  height:160px;
  background-image:none;
}
#u9792_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9793_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:124px;
  height:164px;
}
#u9793 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:160px;
}
#u9794 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:74px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
.u9796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
.u9796 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:8px;
  width:14px;
  height:14px;
}
.u9797 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
.u9798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u9798 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u9798_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u9798.mouseOver {
}
.u9798_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u9798.selected {
}
.u9799 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:7px;
  width:85px;
  word-wrap:break-word;
}
#u9795-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u9795-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:118px;
  height:30px;
}
#u9795-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:118px;
  height:30px;
}
#u9795-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:118px;
  height:30px;
}
#u9795-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:118px;
  height:30px;
}
#u9795 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:8px;
  width:118px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
