body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:845px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12648 {
  position:absolute;
  left:0px;
  top:29px;
}
#u12648_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:380px;
  height:242px;
  background-image:none;
}
#u12648_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12650 {
  position:absolute;
  left:0px;
  top:0px;
}
#u12650_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:380px;
  height:242px;
  background-image:none;
}
#u12650_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12651_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:384px;
  height:58px;
}
#u12651 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:54px;
}
#u12652 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12653 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12654 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:14px;
  width:300px;
  height:35px;
}
#u12655 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12656 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:19px;
  width:254px;
  height:25px;
}
#u12656_input {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12657 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#349CFB;
}
#u12658 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:14px;
  width:69px;
  height:35px;
  color:#349CFB;
}
#u12659 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u12660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12660 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:22px;
  width:20px;
  height:20px;
}
#u12661 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12662 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:49px;
  width:300px;
  height:193px;
  overflow:hidden;
}
#u12662_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:193px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u12662_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12663_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:234px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:234px;
}
#u12664 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:109px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
.u12666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:13px;
}
.u12666 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:1px;
  width:143px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:13px;
}
.u12667 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
.u12668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:29px;
}
.u12668 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:33px;
  height:29px;
}
.u12669 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
.u12670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
.u12670 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:19px;
  width:224px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
.u12671 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  white-space:nowrap;
}
.u12672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u12672 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:39px;
}
.u12673 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12665-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:39px;
}
#u12665-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:39px;
  width:300px;
  height:39px;
}
#u12665-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:78px;
  width:300px;
  height:39px;
}
#u12665-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:117px;
  width:300px;
  height:39px;
}
#u12665-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:156px;
  width:300px;
  height:39px;
}
#u12665-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:195px;
  width:300px;
  height:39px;
}
#u12665 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:300px;
  height:234px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u12650_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:383px;
  height:115px;
  visibility:hidden;
  background-image:none;
}
#u12650_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12674_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:384px;
  height:119px;
}
#u12674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:115px;
}
#u12675 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:55px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12676 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12677 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12678 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:18px;
  width:305px;
  height:48px;
}
#u12679 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12680 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:21px;
  width:272px;
  height:40px;
}
#u12680_input {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12681 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:32px;
  width:20px;
  height:20px;
}
#u12682 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12683 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:76px;
  width:56px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12684 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:52px;
  word-wrap:break-word;
}
#u12685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u12685 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:76px;
  width:56px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u12686 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:52px;
  word-wrap:break-word;
}
#u12687 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#349CFB;
}
#u12688 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:18px;
  width:69px;
  height:35px;
  color:#349CFB;
}
#u12689 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u12690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:29px;
  background:inherit;
  background-color:rgba(83, 89, 100, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12690 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:29px;
  color:#FFFFFF;
}
#u12690_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:29px;
  background:inherit;
  background-color:rgba(54, 61, 74, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12690.mouseOver {
}
#u12691 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:111px;
  word-wrap:break-word;
}
#u12692 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12693_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:384px;
  height:58px;
}
#u12693 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:335px;
  width:380px;
  height:54px;
}
#u12694 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12695 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12696_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12696 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:349px;
  width:300px;
  height:35px;
}
#u12697 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12698 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:354px;
  width:254px;
  height:25px;
}
#u12698_input {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12699 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#349CFB;
}
#u12700 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:349px;
  width:69px;
  height:35px;
  color:#349CFB;
}
#u12701 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u12702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12702 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:357px;
  width:20px;
  height:20px;
}
#u12703 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12704 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:384px;
  width:300px;
  height:193px;
  overflow:hidden;
}
#u12704_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:193px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u12704_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12705_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:234px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12705 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:234px;
}
#u12706 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:109px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
.u12708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:13px;
}
.u12708 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:1px;
  width:136px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:13px;
}
.u12709 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
.u12710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:29px;
}
.u12710 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:33px;
  height:29px;
}
.u12711 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
.u12712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
.u12712 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:19px;
  width:225px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
.u12713 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  white-space:nowrap;
}
.u12714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u12714 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:39px;
}
.u12715 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12707-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:39px;
}
#u12707-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:39px;
  width:300px;
  height:39px;
}
#u12707-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:78px;
  width:300px;
  height:39px;
}
#u12707-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:117px;
  width:300px;
  height:39px;
}
#u12707-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:156px;
  width:300px;
  height:39px;
}
#u12707-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:195px;
  width:300px;
  height:39px;
}
#u12707 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:300px;
  height:234px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u12716_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:384px;
  height:119px;
}
#u12716 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:696px;
  width:380px;
  height:115px;
}
#u12717 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:55px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12718 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12719 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12720_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12720 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:714px;
  width:305px;
  height:48px;
}
#u12721 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12722 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:717px;
  width:272px;
  height:40px;
}
#u12722_input {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12723 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:728px;
  width:20px;
  height:20px;
}
#u12724 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12725_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12725 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:772px;
  width:56px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12726 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:52px;
  word-wrap:break-word;
}
#u12727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u12727 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:772px;
  width:56px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u12728 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:52px;
  word-wrap:break-word;
}
#u12729 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#349CFB;
}
#u12730 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:714px;
  width:69px;
  height:35px;
  color:#349CFB;
}
#u12731 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u12732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:333px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12732 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:310px;
  width:313px;
  height:333px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12733 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:309px;
  word-wrap:break-word;
}
#u12734_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12734 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:587px;
  width:146px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12735 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u12736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12736 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:828px;
  width:146px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12737 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u12738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:46px;
}
#u12738 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:485px;
  width:296px;
  height:46px;
}
#u12739 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:316px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12740 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:661px;
  width:313px;
  height:316px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12741 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:309px;
  word-wrap:break-word;
}
#u12742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:26px;
}
#u12742 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:788px;
  width:52px;
  height:26px;
}
#u12743 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
