body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:713px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u7620 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:38px;
  color:#CCCCCC;
}
#u7621 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:13px;
}
#u7622 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:13px;
  width:17px;
  height:13px;
}
#u7623 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7624 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:42px;
  height:25px;
}
#u7624_input {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u7625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u7625 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:108px;
  height:38px;
  color:#CCCCCC;
}
#u7626 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:13px;
}
#u7627 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:293px;
  width:17px;
  height:13px;
}
#u7628 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7629 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:287px;
  width:42px;
  height:25px;
}
#u7629_input {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u7630_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:469px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7630 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:280px;
  width:526px;
  height:469px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7631 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:522px;
  word-wrap:break-word;
}
#u7632 {
  position:absolute;
  left:0px;
  top:38px;
}
#u7632_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:120px;
  height:160px;
  background-image:none;
}
#u7632_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7633_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:124px;
  height:164px;
}
#u7633 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:160px;
}
#u7634 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:74px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
.u7636 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:8px;
  width:14px;
  height:14px;
}
.u7637 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u7638 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u7638_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u7638.mouseOver {
}
.u7638_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u7638.selected {
}
.u7639 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:7px;
  width:85px;
  word-wrap:break-word;
}
#u7635-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u7635-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:118px;
  height:30px;
}
#u7635-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:118px;
  height:30px;
}
#u7635-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:118px;
  height:30px;
}
#u7635-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:118px;
  height:30px;
}
#u7635 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:8px;
  width:118px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u7640 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:7px;
  width:27px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7641 {
  position:absolute;
  left:0px;
  top:318px;
}
#u7641_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:120px;
  height:160px;
  background-image:none;
}
#u7641_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7642_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:124px;
  height:164px;
}
#u7642 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:160px;
}
#u7643 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:74px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
.u7645 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:8px;
  width:14px;
  height:14px;
}
.u7646 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
.u7647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u7647 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u7647_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u7647.mouseOver {
}
.u7647_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
.u7647.selected {
}
.u7648 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:7px;
  width:85px;
  word-wrap:break-word;
}
#u7644-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u7644-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:118px;
  height:30px;
}
#u7644-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:118px;
  height:30px;
}
#u7644-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:118px;
  height:30px;
}
#u7644-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:118px;
  height:30px;
}
#u7644 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:8px;
  width:118px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u7650 {
  position:absolute;
  left:210px;
  top:506px;
}
#u7650_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:480px;
  height:265px;
  background-image:none;
}
#u7650_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7651_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:490px;
  height:275px;
}
#u7651 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:265px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7652 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:124px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7653 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7654 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7655_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:107px;
  height:31px;
}
#u7655 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:16px;
  width:97px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7656 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u7657 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7658 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7659_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:449px;
  height:66px;
}
#u7659 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:61px;
  width:439px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:28px;
}
#u7660 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  white-space:nowrap;
}
#u7661_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:459px;
  height:12px;
}
#u7661 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:47px;
  width:448px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7662 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:444px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7663_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:110px;
  height:50px;
}
#u7663 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:203px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u7663_img.mouseOver {
}
#u7663.mouseOver {
}
#u7663_img.mouseDown {
}
#u7663.mouseDown {
}
#u7664 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u7665_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:110px;
  height:50px;
}
#u7665 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:203px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7665_img.mouseOver {
}
#u7665.mouseOver {
}
#u7665_img.mouseDown {
}
#u7665.mouseDown {
}
#u7666 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u7667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7667 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:127px;
  width:448px;
  height:66px;
}
#u7668 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:444px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7669 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:130px;
  width:438px;
  height:59px;
}
#u7669_input {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:59px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
