body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:567px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:567px;
  height:306px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u3664 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:567px;
  height:306px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u3665 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:555px;
  word-wrap:break-word;
}
